################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Jogo da Velha/bin/Debug
/Jogo da Velha/obj/Debug
/.vs/Projeto Final/FileContentIndex/3cc6f81e-7299-450d-95c0-6c47fa89d9f3.vsidx
/.vs/Projeto Final/FileContentIndex/read.lock
